= provide(:left_icon, image_tag("menu_icon"))
= provide(:nav_title, "TimeAttackTask")
= provide(:right_icon, (link_to "📁", projects_url, id: "projects_url"))
ul.menu
  div.icon
    = image_tag("menu_icon")
  li
    | プロジェクト
    ul
      - @projects.each do | p |
        li.menu-item =p.name
      li.menu-item No Project
  li
    | 日付
    ul
      li.menu-item 今日
      li.menu-item 明日
      li.menu-item 期限切れ
      li.menu-item 日付なし
.container
  .contents
    .projetcts
      = render @projects
      .no-project
        .project-name 
          p No Project
        .tasks#no_project
          = render @tasks.where(project_id: nil)
= link_to image_tag('new_task.png'), new_task_path, class: "new-task-icon"
