= provide(:left_icon, image_tag("menu_icon"))
= provide(:nav_title, "TimeAttackTask")
= provide(:right_icon, (link_to "📁", projects_url, id: "projects_url"))
.container
  - @tasks.each do |task|
      div class="card #{'done' if task.status == 1 }"
        p.task-name
          = link_to(task.name, edit_task_path(task))
= link_to image_tag('new_task.png'), new_task_path, class: "new-task-icon"
