= provide(:nav_title, "TimeAttackTask")
= provide(:right_icon, (link_to "📁", projects_url, id: "projects_url"))
.side_menu
	= render 'layouts/side_menu'
.container
  .contents
    .projetcts
      .no-project
        .project-name 
          p No Project
        .tasks#no_project
          = render "project_tasks", project: nil, tasks: @tasks
= link_to image_tag('new_task.png'), new_task_path, class: "new-task-icon"
