= provide(:left_icon, (link_to image_tag("back_icon"), 'javascript:history.back()', id: "back_icon"))
= provide(:nav_title, "ユーザー編集")
= render "form", button_text: '更新', user: @user, path: user_path, class: 'btn'