<%= form_for (project) do |f| %>

  <div class="field">
    <%= f.text_field :name, :placeholder => "プロジェクトを入力してください", class: 'form-control' %>
  </div>
  <%= f.submit button_text, class: "btn btn-primary" %>
<% end %>