// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container {
  padding: 0px 22px 0px 22px;
}

h1 {
  color: #000066;
}

.card {
  display: flex;
  margin: 0px 0px 20px 0px;

  input#task_completed {
    margin: auto 0px;
    width: 20px; 
    height: 20px;
  }

  .task-name {
    font-size: 18px;
    padding: 5px 15px 5px 15px;
    width: 100%;
  }

  a {
    color: black;
    text-decoration: none;
    vertical-align: middle;
  }

  .btn {
    color: white;
  }
}

.done {
  text-decoration: line-through;

  a {
    color: gray;
    text-decoration: none;
  }
}

.new-task-icon img {
  height: 60px;
  width: 60px;
  margin: 15px;
  position: fixed;
  bottom: 0;
  right: 0;
}

.timer-icon {
  margin: auto 0px;

  img {
    height: 25px;
    width: 25px;
  }
}

.field {
  height: 75px;
  border: 1px solid;
  border-color: #E5E5E5;
  border-left: transparent;
  border-right: transparent;
  padding: 0px 10px 0px 10px;
  margin-top: -1px;
  font-size: 16px;
  vertical-align: middle;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  input {
    border: transparent;
    margin-left: auto;
    font-size: 16px;
  }

  textarea {
    border: transparent;
    resize: none;
    width: 100%;
    height: 80%;
    font-size: 16px;
  }

  #task_name {
    width: 100%;
  }

  #task_date {
    text-align: right;
    width: 170px;
  }

  #task_time {
    text-align: right;
    width: 70px;
  }
}

.btn {
  display: inline-block;
  height: 40px;
  width: 100px;
  padding: 0.4em 1em;
  text-decoration: none;
  background: #000066;
  color: white;
  border-radius: 5px;
  transition: .4s;
  text-align: center;
  font-size: 18px;
}

.btn.btn-delete {
  background: gray;
}

#projects_url {
  text-decoration: none;
}

.timer {
  height: 500px;
  color: white;
  background-color: #000066;
  text-align: center;

  .task-name {
    font-size: 24px;
    padding-top: 20px;
  }

  .task-timer {
    font-size: 64px;
    padding: 75px 0;
  }

  .edit_link {
    a{
      color: white;
      font-size: 24px;
    }
  }

  input[type="button"]{
    height: 80px;
    width: 80px;
    margin: 0 10px;
    border: solid 1px white;
    border-radius: 80px;
  }
}

.project {
  margin-bottom: 40px;
}

.project-name {
  font-size: 18px;
  color: #000066;
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: solid 1px #000066;
}

// ul, li {
//   margin: 0;
//   padding: 0;
//   list-style: none;
// }

// .menu {
//   background: #000066;
//   color: white;
//   position: absolute;
//   height: 50px;
//   width: 45px;
//   white-space: nowrap;
//   overflow: hidden;
//   position: fixed;
//   top: 0;
//   left: 0;

//   .icon {
//     height: 50px;
//     margin-bottom: 25px;
//     padding: 12px 0 0 15px;

//     img {
//       height: 20px;
//       width: 25px;
//       vertical-align: middle;
//     }
//   }  
// }

// .menu:hover {
//   width: 200px;
//   height: 100%;
// }

// .menu-item {
//   line-height: 35px;
//   cursor: pointer;
//   transition: background-color 0.3s ease-in-out;
//   padding-left: 20px;
// }

// .menu-item:hover {
//   background: gray;
// }


.cp_offcm04 {
	position: fixed;
	top: 5px;
	left: 10px;
	display: inline-block;
}
/* menu */
.cp_menu {
	position: fixed;
	top: 0;
	left: -100vw;
	width: 250px;
	height: 100%;
	cursor: pointer;
	-webkit-transition: 0.53s transform;
	        transition: 0.53s transform;
	-webkit-transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	        transition-timing-function: cubic-bezier(.38,.52,.23,.99);
	background-color: #000066;
  
  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;

    a {
      display: block;
      padding: 20px;
      text-decoration: none;
      color: #ffffff;
      border-bottom: 1px solid #ffffff;
    }
  }
}

.cp_offcm04 #cp_toggle04 {
	position: absolute;
  display: none;  
  opacity: 0;
}
.cp_offcm04 #cp_toggle04:checked ~ .cp_menu {
	-webkit-transform: translateX(100vw);
	        transform: translateX(100vw);
}
/* menu toggle */
.cp_offcm04 #cp_toggle04 ~ label {
  display: block;
  padding: 10px 0 0 5px;
	cursor: pointer;
	-webkit-transition: 0.5s transform;
	        transition: 0.5s transform;
	-webkit-transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	        transition-timing-function: cubic-bezier(.61,-0.38,.37,1.27);
	text-align: center;
  color: #333333;
}
.cp_offcm04 #cp_toggle04:checked ~ label {
	-webkit-transform: translateX(250px);
	        transform: translateX(250px);
}
.cp_offcm04 #cp_toggle04 ~ label::before {
	font-family: 'FontAwesome';
  content: "";
  display: inline-block;
  width: 25px;
  height: 20px;
  background-image: image-url("menu_icon.png");
  background-size: contain;
  font-size: 28px;
}
.cp_offcm04 #cp_toggle04:checked ~ label::before {
  content: '×';
  color: white;
  background-image: none;
  position: absolute;
  top: 0px;
	left: 0px;
}