<header>
  <div class="navbar container">
    <div id="navbar_left">
      <%= yield(:left_icon) %>
    </div>
    <div id="navbar_title">
      <%= yield(:nav_title) %>
    </div>
    <div id="navbar_right">
      <%= yield(:right_icon) %>
    </div>
  </div>
</header>