<header>
  <div class="navbar container">
    <div id="navbar_menu_icon"></div>
    <div id="navbar_title">
      <%= yield(:nav_title) %>
    </div>
    <div id="navbar_right"></div>
  </div>
</header>